/**
 * UI Block
 *
 */
$style_color: #474D57;
$hover: #D9EDF7;
$monospace_font: 'Menlo', 'Liberation Mono', 'Consolas', 'Courier New', 'andale mono', 'lucida console', monospace;
$added: #63c363;
$deleted: #f77;
/**
 * Generic mixins
 */

@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
}

@mixin linear-gradient($from, $to) {
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from($from), to($to));
  background-image: -webkit-linear-gradient($from, $to);
  background-image: -moz-linear-gradient($from, $to);
  background-image: -o-linear-gradient($from, $to);
}

/**
 * Prefilled mixins
 * Mixins with fixed values
 */

@mixin bg-gray-gradient {
  background: #eee;
  background-image: -webkit-gradient(linear, 0 0, 0 30, color-stop(0.066, #eee), to(#dfdfdf));
  background-image: -webkit-linear-gradient(#eee 6.6%, #dfdfdf);
  background-image: -moz-linear-gradient(#eee 6.6%, #dfdfdf);
  background-image: -o-linear-gradient(#eee 6.6%, #dfdfdf);
}

@mixin bg-dark-gray-gradient {
  background: #eee;
  background-image: -webkit-linear-gradient(#e9e9e9, #d7d7d7);
  background-image: -moz-linear-gradient(#e9e9e9, #d7d7d7);
  background-image: -o-linear-gradient(#e9e9e9, #d7d7d7);
}

@mixin solid-shade {
  @include box-shadow(0 0 0 3px #f1f1f1);
}

.ui-box {
  background: #F9F9F9;
  margin-bottom: 25px;
  border: 1px solid #CCC;
  @include solid-shade;

  &.ui-box-show {
    margin:20px 0;
    background: #FFF;
  }

  &.ui-box-danger {
    .title {
      @include linear-gradient(#F26E5E, #bd362f);
      color: #fff;
      text-shadow: 0 1px 1px #900;
      font-weight: bold;
    }
  }

  img { max-width: 100%; }

  pre {
    code {
      background: none !important;
    }
  }

  .ui-box-head,
  .ui-box-body,
  .ui-box-bottom {
    padding: 15px;
    word-wrap: break-word;

    .clearfix {
      margin: 0;
    }
  }

  .ui-box-head {
    .box-title {
      color: $style_color;
      font-size: 18px;
      font-weight: normal;
      line-height: 28px;
    }
    h3 {
      margin: 0;
    }
  }

  .ui-box-body {
    border: none;
    font-size: 12px;
    background-color: #f5f5f5;
    border: none;
    border-top: 1px solid #eee;
  }

  .ui-box-bottom {
    border-top: 1px solid #eee;
  }

  &.white {
    background: #fff;
  }

  ul {
    margin: 0;
  }

  .title {
    @include bg-gray-gradient;
    border-bottom: 1px solid #CCC;
    color: #456;
    font-size: 16px;
    text-shadow: 0 1px 1px #fff;
    padding: 0px 10px;
    line-height: 36px;
    font-size: 14px;
    font-weight: normal;

    > a {
      text-shadow: 0 1px 1px #fff;
    }

    form {
      margin-bottom: 0;
      margin-top: 0;
    }

    .btn-tiny {
      @include box-shadow(0 0px 0px 1px #f1f1f1);
    }

    .nav-pills {
      > li {
        > a {
          padding: 13px;
          margin: 0;
          font-size: 13px;
        }
        &.active {
          > a {
            background: #D5D5D5;
            color: $style_color;
            @include border-radius(0);
            border-radius: 0;
            border-left: 1px solid #CCC;
            border-right: 1px solid #CCC;
          }
        }
      }
    }
  }

  &.padded {
    h5, .title {
      margin: -20px;
      margin-bottom: 0;
      padding: 5px 20px;
    }
    .middle_title {
      background: #f5f5f5;
      margin:20px -20px;
      padding: 0 20px;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
      font-size: 14px;
      color: #777;
    }
  }

  .row_title {
    font-weight: bold;
    color: #444;
    &:hover {
      color: #444;
      text-decoration: underline;
    }
  }

  .form-holder {
    padding-top: 20px;
    form {
      margin-bottom: 0;
      legend {
        text-indent: 10px;
      }
      .form-actions {
        margin-bottom: 0;
      }
    }
  }
}

/**
 * Well styled list
 *
 */
.well-list {
  margin: 0;
  list-style: none;
  li {
    background-color: #FFF;
    padding: 10px;
    min-height: 20px;
    border-bottom: 1px solid #eee;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);

    &.disabled {
      color: #888;
    }

    &.smoke { background-color: #f5f5f5; }

    &:hover {
      background: $hover;
      border-bottom: 1px solid #ADF;
    }

    &:last-child {
      border-bottom: none;

      &.bottom {
        background: #f5f5f5;
      }
    }

    .author { color: #999; }

    p {
      padding-top: 1px;
      margin: 0;
      color: #222;
      img {
        position: relative;
        top: 3px;
      }
    }

    .well-title {
      font-size: 14px;
      line-height: 18px;
    }
  }
}

/**
 * Commit file
 */
.commit-committer-link,
.commit-author-link {
  font-size: 13px;
  color: #555;
  &:hover {
    color: #999;
  }
}

.file {
  border: 1px solid #CCC;
  margin-bottom: 1em;

  .header {
    @extend .clearfix;
    padding: 5px 5px 5px 10px;
    color: #555;
    border-bottom: 1px solid #CCC;
    background: #eee;
    // TODO Replace with linear-gradient mixin
    background-image: -webkit-gradient(linear, 0 0, 0 30, color-stop(0.066, #eee), to(#dfdfdf));
    background-image: -webkit-linear-gradient(#eee 6.6%, #dfdfdf);
    background-image: -moz-linear-gradient(#eee 6.6%, #dfdfdf);
    background-image: -o-linear-gradient(#eee 6.6%, #dfdfdf);

    a{
      color: $style_color;
    }

    > span {
      font-family: $monospace_font;
      font-size: 14px;
      line-height: 30px;
    }

    a.view-file{
      font-weight: bold;
    }

    .commit-short-id{
      font-family: $monospace_font;
      font-size: smaller;
    }

    .file-mode{
      font-family: $monospace_font;
    }
  }
  .content {
    overflow: auto;
    overflow-y: hidden;
    background: #FFF;
    color: #333;
    font-size: 12px;
    .old{
      span.idiff{
        background-color: #FAA;
      }
    }
    .new{
      span.idiff{
        background-color: #AFA;
      }
    }

    table {
      font-family: $monospace_font;
      margin: 0px;
      padding: 0px;
      td {
      border: none;
        line-height: 18px;
        font-size: 12px;
      }
    }
    .old_line, .new_line {
      margin: 0px;
      padding: 0px;
      border: none;
      background: #EEE;
      color: #666;
      padding: 0px 5px;
      border-right: 1px solid #ccc;
      text-align: right;
      min-width: 35px;
      max-width: 35px;
      width: 35px;
      a {
        float: left;
        width: 35px;
        font-weight: normal;
        color: #666;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    .line_content {
      display: block;
      white-space: pre;
      height: 18px;
      margin: 0px;
      padding: 0px;
      border: none;
      &.new {
        background: #CFD;
      }
      &.old {
        background: #FDD;
      }
      &.matched {
        color: #ccc;
        background: #fafafa;
      }
    }
  }
  .image {
    background: #ddd;
    text-align: center;
    padding: 30px;
    .wrap{
      display: inline-block;
    }

    .frame {
      display: inline-block;
      background-color: #fff;
      line-height: 0;
      img{
        border: 1px solid #FFF;
        background: url('trans_bg.gif');
      }
      &.deleted {
        border: 1px solid $deleted;
      }

      &.added {
        border: 1px solid $added;
      }
    }
    .image-info{
      font-size: 12px;
      margin: 5px 0 0 0;
      color: grey;
    }

    .view.swipe{
      position: relative;

      .swipe-frame{
        display: block;
        margin: auto;
        position: relative;
      }
      .swipe-wrap{
        overflow: hidden;
        border-left: 1px solid #999;
        position: absolute;
        display: block;
        top: 13px;
        right: 7px;
      }
      .frame{
        top: 0;
        right: 0;
        position: absolute;
        &.deleted{
          margin: 0;
          display: block;
          top: 13px;
          right: 7px;
        }
      }
      .swipe-bar{
        display: block;
        height: 100%;
        width: 15px;
        z-index: 100;
        position: absolute;
        cursor: pointer;
        &:hover{
          .top-handle{
            background-position: -15px 3px;
          }
          .bottom-handle{
            background-position: -15px -11px;
          }
        };
        .top-handle{
          display: block;
          height: 14px;
          width: 15px;
          position: absolute;
          top: 0px;
          background: url('swipemode_sprites.gif') 0 3px no-repeat;
        }
        .bottom-handle{
          display: block;
          height: 14px;
          width: 15px;
          position: absolute;
          bottom: 0px;
          background: url('swipemode_sprites.gif') 0 -11px no-repeat;
        }
      }
    } //.view.swipe
    .view.onion-skin{
      .onion-skin-frame{
        display: block;
        margin: auto;
        position: relative;
      }
      .frame.added, .frame.deleted {
        position: absolute;
        display: block;
        top: 0px;
        left: 0px;
      }
      .controls{
        display: block;
        height: 14px;
        width: 300px;
        z-index: 100;
        position: absolute;
        bottom: 0px;
        left: 50%;
        margin-left: -150px;

        .drag-track{
          display: block;
          position: absolute;
          left: 12px;
          height: 10px;
          width: 276px;
          background: url('onion_skin_sprites.gif') -4px -20px repeat-x;
        }

        .dragger {
          display: block;
          position: absolute;
          left: 0px;
          top: 0px;
          height: 14px;
          width: 14px;
          background: url('onion_skin_sprites.gif') 0px -34px repeat-x;
          cursor: pointer;
        }

        .transparent {
          display: block;
          position: absolute;
          top: 2px;
          right: 0px;
          height: 10px;
          width: 10px;
          background: url('onion_skin_sprites.gif') -2px 0px no-repeat;
        }

        .opaque {
          display: block;
          position: absolute;
          top: 2px;
          left: 0px;
          height: 10px;
          width: 10px;
          background: url('onion_skin_sprites.gif') -2px -10px no-repeat;
        }
      }
    } //.view.onion-skin
  }
  .view-modes{

    padding: 10px;
    text-align: center;

    background-image: -webkit-gradient(linear, 0 0, 0 30, color-stop(0.066, #eee), to(#dfdfdf));
    background-image: -webkit-linear-gradient(#eee 6.6%, #dfdfdf);
    background-image: -moz-linear-gradient(#eee 6.6%, #dfdfdf);
    background-image: -o-linear-gradient(#eee 6.6%, #dfdfdf);

    ul, li{
      list-style: none;
      margin: 0;
      padding: 0;
      display: inline-block;
    }

    li{
      color: grey;
      border-left: 1px solid #c1c1c1;
      padding: 0 12px 0 16px;
      cursor: pointer;
      &:first-child{
        border-left: none;
      }
      &:hover{
        text-decoration: underline;
      }
      &.active{
        &:hover{
          text-decoration: none;
        }
        cursor: default;
        color: #333;
      }
      &.disabled{
        display: none;
      }
    }
  }
}

/** COMMIT BLOCK **/
.commit-title{
  display: block;
}
.commit-title{
  margin-bottom: 10px;
}
.commit-author, .commit-committer{
  display: block;
  color: #999;
  font-weight: normal;
  font-style: italic;
}
.commit-author strong, .commit-committer strong{
  font-weight: bold;
  font-style: normal;
}


/**
 * COMMIT ROW
 */
.commit {
  .browse_code_link_holder {
    float: right;
  }

  .committed_ago {
    float: right;
    @extend .cgray;
  }

  .notes_count {
    float: right;
    margin: -6px 8px 6px;
  }

  code {
    background: #FCEEC1;
    color: $style_color;
  }

  .commit_short_id {
    float: left;
    @extend .lined;
    min-width: 65px;
    font-family: $monospace_font;
  }
}

.file-stats a {
  color: $style_color;
}

.file-stats {
  .new-file{
    i{
      color: #1BCF00;
    }
  }
  .renamed-file{
    i{
      color: #FE9300;
    }
  }
  .deleted-file{
    i{
      color: #FF0000;
    }
  }
  .edit-file{
    i{
      color: #555;
    }
  }
}

.label_commit {
  @include border-radius(4px);
  padding: 2px 4px;
  font-size: 13px;
  background: #474D57;
  color: #fff;
  font-family: $monospace_font;
}


.commits-compare-switch{
  background: url("switch_icon.png") no-repeat center center;
  width: 16px;
  height: 18px;
  text-indent: -9999px;
  float: left;
  margin-right: 9px;
  border: 1px solid #DDD;
  @include border-radius(4px);
  padding: 4px;
  background-color: #EEE;
}

.commit-description {
  background: none;
  border: none;
  margin: 0;
}

/** COLORS **/
.cgray { color:gray }
.cred { color:#D12F19 }
.cgreen { color:#4a2 }
.cblue { color:#29A }
.cblack { color:#111 }
.cdark { color:#444 }
.cwhite { color:#fff!important }
.bgred { background:#F2DEDE!important }

/**
 * File content holder
 *
 */
.file_holder {
  border: 1px solid #BBB;
  margin-bottom: 1em;
  @include solid-shade;

  .file_title {
    border-bottom: 1px solid #bbb;
    @include bg-dark-gray-gradient;
    margin: 0;
    font-weight: normal;
    font-weight: bold;
    text-align: left;
    color: #666;
    padding: 9px 10px;
    height: 18px;

    .options {
      float: right;
      margin-top: -5px;
    }

    .file_name {
      color: $style_color;
      font-size: 14px;
      text-shadow: 0 1px 1px #fff;
      small {
        color: #999;
        font-size: 13px;
      }
    }
  }
  .file_content {
    background: #fff;
    font-size: 11px;

    &.image_file {
      background: #eee;
      text-align: center;
      img {
        padding: 100px;
        max-width: 300px;
      }
    }

    &.wiki {
      padding: 20px;
      font-size: 13px;
    }

    &.blob_file {

    }

    /**
     *  Blame file
     */
    &.blame {
      table {
        border: none;
        box-shadow: none;
        margin: 0;
      }
      tr {
        border-bottom: 1px solid #eee;
      }
      td {
        &:first-child {
          border-left: none;
        }
        &:last-child {
          border-right: none;
        }
        background: #fff;
        padding: 5px;
      }
      .author,
      .blame_commit {
        background: #f5f5f5;
        vertical-align: top;
      }
      .lines {
        pre {
          padding: 0;
          margin: 0;
          background: none;
          border: none;
        }
      }
    }

    &.logs {
      background: #eee;
      max-height: 700px;
      overflow-y: auto;

      ol {
        margin-left: 40px;
        padding: 10px 0;
        border-left: 1px solid #CCC;
        margin-bottom: 0;
        background: white;
        li {
          color: #888;
          p {
            margin: 0;
            color: #333;
            line-height: 24px;
            padding-left: 10px;
          }

          &:hover {
            background: $hover;
          }
        }
      }
    }

    /**
     *  Code file
     */
    &.code {
      padding: 0;

      table.lines {
        border: none;
        box-shadow: none;
        margin: 0px;
        padding: 0px;
        table-layout: fixed;

        pre {
          border: none;
          border-radius: 0;
          font-family: $monospace_font;
          font-size: 12px !important;
          line-height: 16px !important;
          margin: 0;
          padding: 10px 0;
        }
        td {
          border: none;
          margin: 0;
          padding: 0;
          vertical-align: top;

          &:first-child {
            background: #eee;
            width: 50px;
          }
          &:last-child {
          }
        }
        tr:hover {
          background: none;
        }

        pre.line_numbers {
          color: #666;
          padding: 10px 6px 10px 0;
          text-align: right;
          background: #EEE;

          a {
            color: #666;

            i {
              display: none;
              font-size: 14px;
              line-height: 14px;
            }
            &:hover i {
              display: inherit;
            }
          }
        }

        .highlight {
          border-left: 1px solid #DEE2E3;
          overflow: auto;
          overflow-y: hidden;

          pre {
            white-space: pre;
            word-wrap: normal;

            .line {
              padding: 0 10px;
            }
          }
        }
      }
    }
  }
}

.supp_diff_link,
.show-all-commits {
  cursor: pointer;
}
