.control-group
  = f.label :domain, "Host addres", class: "control-label"
  .controls
    = f.text_field :domain, class: "input-xlarge", placeholder: "http://build-face.undev.cc"

.control-group
  = f.label :system_hook_path, "Hook path", class: "control-label"
  .controls
    = f.text_field :system_hook_path, class: "input-xlarge", placeholder: "/gitlab"
