= render "service_head"

.form-holder
  = form_for(@service, as: :service, url: admin_services_path, method: :post, html: { class: "form-horizontal" }) do |f|
    = f.hidden_field(:service_type, value: @service.to_param)
    = render "form", f: f
