%ul.nav.nav-pills.project-sorting-tabs
  %li.active
    = link_to 'By last push', '#by_last_push', class: "btn btn-tiny"
  %li
    = link_to 'Alphabetically', '#alphabetically', class: "btn btn-tiny"
