- project      = target
- member       = find_entity(User, data["user_id"])
- project      = find_entity(Project, data["project_id"]) if project.nil? || project.is_a?(UsersProject)

= mailer_user_link(member)
was
%b
  %i
    removed
from project team of
= mailer_project_link(project)
project by
= mailer_user_link(author)
