%h3.page-title
  Service keys allow access to the repository

  = link_to new_admin_service_key_path(@service.id), class: "btn btn-new pull-right", title: "New Service Key" do
    %i.icon-plus
    New Service Key

%p.light
  Service keys can be used for CI, staging or production servers.
  You can create a service key or add an existing one

%hr.clearfix

.row
  .col-md-6.enabled-keys
    %h5
      %strong.cgreen Enabled service keys
      for this service
    %ul.bordered-list
      - if @enabled_keys.blank?
        .light-well
          .nothing-here-block Create a #{link_to 'new service key', new_admin_service_key_path(@service.id)} or add an existing one
      - else
        = render "keys", keys: @enabled_keys
  .col-md-6.available-keys
    %h5
      %strong Service keys
      from another services
    %ul.bordered-list
      - if @available_keys.blank?
        .light-well
          .nothing-here-block Service keys from another services you have access to will be displayed here
      - else
        = render "keys", keys: @available_keys
