%h3.page-title
  Service keys allow access to the repository

  = link_to new_admin_service_key_path(@service), class: "btn btn-new pull-right", title: "New Service Key" do
    %i.icon-plus
    New Service Key

%p.light
  Service keys can be used for CI, staging or production servers.
  You can create a service key or add an existing one

%hr.clearfix

.row
  .span5.enabled-keys
    %h5
      %strong.cgreen Enabled service keys
      for this admin_service
    %ul.bordered-list
      = render @enabled_keys
      - if @enabled_keys.blank?
        .light-well
          %p.nothing_here_message Create a #{link_to 'new service key', new_admin_service_key_path(@service)} or add an existing one
  .span5.available-keys
    %h5
      %strong Service keys
      from admin_services available to you
    %ul.bordered-list
      = render @available_keys
      - if @available_keys.blank?
        .light-well
          %p.nothing_here_message Service keys from admin_services you have access to will be displayed here
