%tr
  %td
    = link_to commit.short_id(8), project_commit_url(@project, commit), style: "float:left;min-width:65px;font-family:\"Menlo\",\"Liberation Mono\",\"Consolas\",\"Courier New\",\"andale mono\",\"lucida console\",monospace"
  %td
    = truncate(commit.title, length: 70)
  %td
    = commit.committed_date.strftime("%Y-%d-%m %H:%M:%S")
  %td
    = commit.author_link
