= link_to commit.sha, project_commit_url(@project, commit), style: "float:left;min-width:65px;font-family:\"Menlo\",\"Liberation Mono\",\"Consolas\",\"Courier New\",\"andale mono\",\"lucida console\",monospace"
%br
= commit.safe_message
