%br
%br
=========================
%br
.footer
  %span You are receiving this email because you have chosen to be notified by email whenever this favorite has new activity.
  %br
  %span
    You can manage your favorite subscriptions at
    = link_to "Manage subscriptions page", profile_subscriptions_url
