= raw "User #{link_to @banned_user.name, user_url(@banned_user.username)} was banned"
%br
%br
User was removed from teams:
%br
- @teams.each do |team|
  = @team.name
  %br
%br
User was removed from projects:
%br
- @projects.each do |project|
  = link_to @project.path_with_namespace, project_url(@project.path_with_namespace)
  %br
