%br
%cite{style: 'color: #666'}
  = markdown(@note.note)
%br
= "---"
%br
%br
Click
= link_to_gfm "here", project_commit_url(@note.project, id: @commit.id, anchor: "note_#{@note.id}")
to view the commit
