= raw "#{ link_to @user.name, user_url(@user.username)} write on #{ link_to @note.noteable.path_with_namespace, project_url(@note.noteable.path_with_namespace) } project wall some message:"
%br
= @note.note
