= raw "#{ link_to @user.name, @user.usename } created #{ @protected_branch.name } branch as protected in #{ link_to @project.path_with_namespace, project_url(@project.path_with_namespace) } project."
