Team of users
= link_to @team.name, team_url(@team.path)
was resigned from group of projects
= link_to @group.name, group_url(@group.path)
%br
After it Team was resigned from every project in Group.
%br
Team members was removed from projects members lists.
