User
= link_to @user.name, user_url(@user.username)
was removed from team of users
= link_to @team.name, team_url(@team.path)
%br
After it user was removed from team member lists in every assigned to team project.