Team of users
= link_to @team.name, team_url(@team.path)
was resigned from project
= link_to @project.path_with_namespace, project_url(@project.path_with_namespace)
%br
All team members was removed from project members list.
