= raw "#{ link_to @tm.name, user_url(@tm.username) } was added to #{ link_to @team.name, team_url(@team.path) } with #{ @team.human_default_projects_access(@tm) } default access in assigned projects."
