= raw "#{ link_to @member.name, user_url(@member.username) } was added to #{ link_to @team.name, team_url(@team.path) } with #{ @team.human_default_projects_access(@member) } default access in assigned projects."
