= raw "#{ link_to @member.name, user_url(@member.username) } was removed from project team of '#{ link_to @project.name_with_namespace, project_url(@project.path_with_namespace) }' project by #{ link_to @user.name, user_url(@user.username) }."
