= raw "Default permissions for team #{ link_to @team.name, team_url(@team.path) } on group of projects #{ link_to @group.name, group_url(@group.path)} was updated by #{ link_to @user.name, user_url(@user.username)}"
