%h3.page-title
  Team groups
%p.light
  members of team have access to all team groups.
%hr

- can_manage_team =  current_user.can? :manage_team, @team
.col-md-6
  .panel.panel-default
    .panel-heading
      Groups
    %ul.well-list.team_groups_list
      - @groups.each do |group|
        = render 'group', group: group, show_controls: can_manage_team

- if can_manage_team
  .col-md-6.pull-right
    = render "new_group"
