- user = User.find_by(id: event.data['user_id'])
- project = Project.find_by(id: event.data['project_id'])

updated
= humanized_event_changes(event)
for
= link_to_or_deleted(user, 'user')
at
= link_to_or_deleted(project, 'project')
