.ui-box
  .title.clearfix
    = search_field_tag :filter_group, nil, placeholder: 'Filter by name', class: 'js-sidebar-filter'
  %ul.well-list.js-sidebar-list
    - @groups.each do |group|
      %li
        = link_to group_path(group), class: dom_class(group) do
          %strong.well-title.filter-title= group.human_name
          %span.pull-right.light
            - if group.owner == user
              %i.icon-wrench
