.ui-box
  .title.clearfix
    = search_field_tag :filter_group, nil, placeholder: 'Filter by name', class: 'js-sidebar-filter form-control'
  %ul.well-list.js-sidebar-list
    - @projects.each do |project|
      %li
        = link_to_project project
