- project = Project.find_by(id: event.data['project_id'])

%span.event_label{class: event.action}
  = event.author_id == event.data['user_id'] ? "left" : "was removed from"
  = link_to_or_deleted(project, 'project')
  - if event.author_id != event.data['user_id']
    by
    = link_to event.author.name, user_path(event.author.username)
