= raw "#{ link_to @user.name, user_url(@user.username)} switched status of '#{@branch.name}' branch to protected in #{link_to @project.path_with_namespace, project_url(@project.path_with_namespace)}"
