= raw "#{ link_to @member.name, user_url(@member.username) } was removed from group team of '#{ link_to @group.name, group_url(@group.path) }' group by #{ link_to @user.name, user_url(@user.username) }."
