- project = Project.find_by(id: event.data['project_id'])

%span.event_label{class: event.action}
  added to
  = link_to_or_deleted(project, 'project')
  by
  = link_to event.author.name, user_path(event.author.username)
