.panel.panel-default
  .panel-heading.clearfix
    = search_field_tag :filter_team, nil, placeholder: 'Filter by name', class: 'js-sidebar-filter form-control'
  %ul.well-list.js-sidebar-list
    - owners.each do |member|
      %li.member-row
        = render "member", member: member, member_role: "Owner"

    - masters.each do |member|
      %li.member-row
        = render "member", member: member, member_role: "Master"

    - if owners.blank? && masters.blank?
      %li
        .nothing-here-block You have no members yet.
