.panel.panel-default
  .panel-heading.clearfix
    = search_field_tag :filter_team, nil, placeholder: 'Filter by name', class: 'js-sidebar-filter form-control'
  %ul.well-list.js-sidebar-list
    - teams.each do |team|
      %li.group-row
        = link_to team_path(id: team.path), class: dom_class(team) do
          %span.group-name.filter-title
            = truncate(team.name, length: 35)
          %span.arrow
            %i.icon-angle-right
          %span.owner-info
            %span Creator:
            %span.owner= team.creator_name
    - if teams.blank?
      %li
        .nothing-here-block You have no teams yet.
