= render "web/projects/commits/commit_box"
= render "web/projects/commits/diffs", diffs: @commit.diffs
= render "web/projects/notes/notes_with_form", tid: @commit.id, tt: "commit"
= render "web/projects/notes/per_line_form"


:javascript
  $(function(){
    PerLineNotes.init();
  });
