.build{
  .build_status {
    margin-right: 10px;
    cursor: pointer;
  }
  .popover{
    color: #000000;
    a{
      font-size: 14px;
    }
    form{
      margin: 5px 0 5px 0;
      .icon-repeat input{
        margin: -4px 0 0 -7px;
        background: none;
        border: none;
        box-shadow: none;
        outline: none;
        color: #3a89a3;
        font-size: 14px;
        cursor: pointer;
      }
    }
  }
}
