%ul.nav.nav-tabs.log-tabs
  %li.active
    = link_to "Email domains", "#allowed_email_domains", 'data-toggle' => 'tab'

%p.light Some descriptions
.tab-content
  .tab-pane.active#allowed_email_domains

