%tr{ class: "tree-item" }
  %td.tree-item-file-name
    = image_tag "submodule.png"
    %span
      = link_to_submodule(submodule_item)
    @
    %span.monospace #{submodule_item.id[0..10]}
  %td
  %td
  %td
