%h3.page-title
  Team projects
%p.light
  Members of team have access to all team projects.
%hr
- can_manage_team =  current_user.can? :manage_team, @team
.col-md-6
  .panel.panel-default
    .panel-heading
      Projects
    %ul.well-list.team_projects_list
      - @projects.each do |project|
        = render 'project', project: project, show_controls: can_manage_team

- if can_manage_team
  .col-md-6.pull-right
    = render "new_project"
