%h3.page-title Background Jobs
%p.light GitLab uses #{link_to "resque", "http://resquework.org/"} library for async job processing

%hr

.panel.panel-default
  .panel-heading Resque running processes
  .panel-body
    - if @resque.empty?
      %h4.cred
        %i.icon-warning-sign
        There are no running resque processes. Please restart GitLab
    - else
      %table.table
        %thead
          %th USER
          %th PID
          %th CPU
          %th MEM
          %th STATE
          %th START
          %th COMMAND
        %tbody
          - @resque.each do |process|
            - next unless process.match(/(resque \d+\.\d+\.\d+.+$)/)
            - data = process.strip.split(' ')
            %tr
              %td= Settings.gitlab.user
              - 5.times do
                %td= data.shift
              %td= data.join(' ')


.panel.panel-default
  %iframe{src: resque_web_path, width: '100%', height: 900, style: "border: none"}
