Привет, бывший пользователь гиториуса!
%br
%br
Ты получил это письмо потому что мы совершили переезд с гиториуса на гитлаб. Все данные, включая ssh ключи, были перенесены. Остается только установить новый пароль для своего аккаунта и можно начать пользоваться гитлабом.
%br
= link_to 'ссылка', edit_password_url(@user, :reset_password_token => @user.reset_password_token)
— это персонализированная одноразовая ссылка для установки пароля для своего аккаунта в гитлабе.

Гитлаб располагается по тому же адресу, где раньше жил гиториус
= link_to "http://git.undev.cc", "http://git.undev.cc"

В специальном чатике “INFR || gitlab || багрепортинг” можно оставить свои замечания, пожелания и задать вопросы. В чатик можно попасть, перейдя по
= link_to "ссылке", "skype:?chat&blob=l5lSuvYSiiUL4031uYVHplQ6t20qzQ7uW2XMDLjVZGVGoQFQaD7GDgyiBDRZ6AQMmmTyBikUENGLfP6H5K3rsKzdug3odtgoFQI"
