И снова привет, бывший пользователь гиториуса и пользователь гитлаба!
%br
%br
Ты получил это письмо потому что мы совершили переезд с гиториуса на гитлаб и теперь тебе нужно сменить пароль.
%br
= link_to 'ссылке', edit_password_url(@user, :reset_password_token => @user.reset_password_token)
— это одноразовая ссылка для смены пароля, при переходе открывается страничка, где ты указываешь новый пароль.
