.subscription-settings
  .sb.col-xs-8
    #projects
    -#- if @subscriptions.any?
    -#  %ul#subscriptionsTabs.nav.nav-tabs
    -#    = render 'subscription_head', subscriptions: @subscriptions.keys
    -#  .tab-content
    -#    - @subscriptions.each do |type, subscriptions|
    -#      = render 'subscription_group', type: type, subscriptions: subscriptions

  .col-xs-4
    #global
