- user = User.find_by(id: event.data['user_id'])
- team = Team.find_by(id: event.data['team_id'])

deleted
= link_to_or_deleted(user, 'user')
from
= link_to_or_deleted(team, 'team')
by
= link_to event.author.name, user_path(event.author.username)
