- file = blob["_source"]["blob"]

- project = Project.find_by(id: file["rid"])
- if project
  .blob-result
    .file-holder
      .file-title
        = link_to project_blob_path(project, project.default_branch + "/" + file["path"]) do
          %i.icon-file
          %strong
            = file["path"]
          .pull-right= project.name_with_namespace
      .file-content.code.term
        - content_lines = []
        %div.highlighted-data{class: user_color_scheme_class}
          .line-numbers
            - blob["highlight"]["blob.content"].each do |content|
              - content_lines = content.split("\n")
          .highlight
            %pre
              %code
                - content_lines.each do |line|
                  .line= line
