- if grouped_entities.empty?
  .nothing-here-block
    There are no any entity in this Digest.
    %br
    Please, add entities.

- grouped_entities.each do |entity_type, entities|
  .panel.panel-default
    .panel-heading
      .title
        %strong= entity_type.pluralize
    .panel-body
      %ul.well-list
        = render "#{entity_type.downcase}".pluralize, summary: summary, entities: entities
