- project = target
- team    = find_entity(Team, data['team_id'])

= mailer_team_link(team)
was
%b
  %i
    assigned
to
= mailer_project_link(project)
project
with
%b= Gitlab::Access.options.key(team.access_for(project))
by
= mailer_user_link(author)
